# Data Profiling
## Team 8: Anthony, Sean, Gideon
## Team 9: Rohith, Sneha
## Team 10: Anmol, Nikita, Satya

The first deliverable is a report of the 25 top selling products.
The first column requires us to aggregate the 3 databases and then generate the top 25.